<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px" fxFill>
  <div fxFlex="1">
    <ey-search-form
      [query]="queryChanges | async"
      (search)="search($event)"
    ></ey-search-form>

    <!-- <ey-search-form
      [query]="queryChanges "
      (search)="search($event)"
    ></ey-search-form> -->
  </div>

  <div fxFlex="1">
    <p *ngIf="message">{{message}}</p>

    <ng-container *ngIf=" albumChanges | async as results">
      <p>Found {{results.length}}</p>
      <ey-search-results-grid [results]="results"></ey-search-results-grid>
    </ng-container>



    <ng-container *ngIf=" albumChanges | async as results">
      <p>Found {{results.length}}</p> 
    </ng-container>
  </div>
</div>
