
<ey-center-layout>
  <!-- <ey-album-search-view></ey-album-search-view> -->
  <!-- <ey-user-search-view></ey-user-search-view> -->
  <!-- <ey-playlist-search-view></ey-playlist-search-view> -->
  <!-- etc... -->
  
  <router-outlet></router-outlet>
</ey-center-layout>