<mat-list *ngIf="playlists.length; else noItemsTpl">

  <mat-list-item *ngFor="let playlist of playlists; index as i" (click)="select(playlist)">
    <span matLine>{{ i + 1 }} {{ playlist.name }}</span>
    <mat-divider></mat-divider>
  </mat-list-item>
  
</mat-list>

<ng-template #noItemsTpl>
  <mat-list>
    <mat-list-item>No Playlists</mat-list-item>
  </mat-list>
</ng-template>
