<mat-form-field>
  <mat-label>{{label}}:</mat-label>

  <input
    matInput
    [ngModel]="value"
    (ngModelChange)="changed($event)"
    required
    #nameRef="ngModel"
  />

  <mat-error *ngIf="nameRef.hasError('required')">Field is required</mat-error>

  <mat-hint data-testid="counter"> {{ value.length }} / 170</mat-hint>
</mat-form-field>
