<ey-navigation>
  <ng-container ngProjectAs="sidebar">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/search/albums">Music Search</a>
      <a mat-list-item routerLink="/playlists">Playlists</a>
      <!-- <a mat-list-item routerLink="/">Link 3</a> -->
    </mat-nav-list>
  </ng-container>

  <!--  -->
  <ng-container ngProjectAs="header">
    <div
      fxFlex="100%"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="20px"
    >
      <span>{{ title }}</span>

      <div fxFlex="100"></div>

      <ey-clock></ey-clock>
    </div>
  </ng-container>
  <!--  -->
  
  <router-outlet></router-outlet>
  <!--  -->
</ey-navigation>
