<div
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutAlign="center stretch"
  fxLayoutGap="20px"
  fxFlex="0 1 90%"
  fxFlex.sm="0 1 80%"
  fxFlex.gt-md="0 1 900px"
  style="margin: 1rem auto 0 auto; height: calc(100vh - 64px)"
>
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" fxFill>
    <ng-content></ng-content>
  </div>
</div>
