<div
  fxLayout="column"
  fxLayout.gt-xs="row wrap"
  fxLayoutAlign="start start"
  fxLayoutGap="16px"
>
  <div *ngFor="let item of results" fxFlex="0 1 calc((100% / 4) - 16px)">
    <ey-album-card [album]="item"></ey-album-card>
    <br />
  </div>
</div>
