<form *ngIf="draft" #formRef="ngForm" (ngSubmit)="savePlaylist(formRef)">
  <div
    fxFlexFill
    fxLayout="column"
    fxLayoutAlign="space-between stretch"
    fxLayoutGap="30px"
  >
    <!-- No value accessor for form control with name: 'not input' -->
    <!-- <div ngModel name="not input"></div> -->

    <mat-form-field fxFlex="100">
      <mat-label>Name:</mat-label>

      <input
        matInput
        [(ngModel)]="draft.name"
        [errorStateMatcher]="matcher"
        required
        minlength="3"
        eyBadWords="batman"
        name="name"
        [disabled]="isDisabled"
        #nameRef="ngModel"
      />

      <mat-error *ngIf="nameRef.hasError('required')">Field is required</mat-error>
      <mat-error *ngIf="nameRef.getError('minlength') as error">Minimum lenth is {{error.minLength}}</mat-error>
      <mat-error *ngIf="nameRef.getError('badword') as error">Can`t contain "{{error}}"</mat-error>

      <!-- <mat-error *ngIf="nameRef.getError('badword')">
        Value {{nameRef.getError('badword')}} is not allowed
      </mat-error> -->

      <mat-error *ngIf="nameRef.getError('badword') as error">
        Value {{error}} is not allowed
      </mat-error>

      <mat-hint data-testid="counter"> {{ draft.name.length }} / 170</mat-hint>
    </mat-form-field>

   

    <div fxFlex="100">
      <mat-checkbox [(ngModel)]="draft.public" name="public">
        Public</mat-checkbox
      >
    </div>

    <mat-form-field fxFlex="100">
      <mat-label>Description:</mat-label>
      <textarea
        matInput
        [(ngModel)]="draft.description"
        name="description"
      ></textarea>
    </mat-form-field>

    <span (click)="isAdvancedOptions = !isAdvancedOptions"
      >Toggle Advanced</span
    >
    <div *ngIf="isAdvancedOptions">
      <input type="text" ngModel name="extra" />

      <div fxFlex="100">
        <ey-my-form-field label="Custom" [(ngModel)]="draft.name" name="custom"></ey-my-form-field>
      </div>

      <div
        contenteditable="true"
        [ngModel]
        name="wysywig"
        #modelRef="ngModel"
      ></div>

      {{ modelRef?.value }}
    </div>

    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-button color="warn" type="button"
      (click)="cancel.emit()">Cancel</button>
    </div>
  </div>
</form>
