<div
  fxLayout="column"
  fxLayout.gt-xs="row wrap"
  fxLayoutAlign="start streach"
  fxFlex="1 0 100%"
  style="width: 100%"
>
  <div fxFlex="auto" fxFlex.gt-xs="50%">
    <ey-playlist-list
      [playlists]="playlists"
      (selected)="selectPlaylist($event)"
    ></ey-playlist-list>
  </div>

  <div fxFlex="auto" fxLayout="column" fxFlex.gt-xs="50%">
    <ng-container [ngSwitch]="mode">
      <ey-playlist-details
        *ngSwitchDefault
        [playlist]="selectedPlaylist"
        (edit)="showEdit()"
      ></ey-playlist-details>

      <ey-playlist-form
        [playlist]="selectedPlaylist"
        *ngSwitchCase="'edit'"
        (cancel)="showDetails()"
        (save)="savePlaylist($event)"
      ></ey-playlist-form>
    </ng-container>
  </div>
</div>
