<form
  #formRef="ngForm"
  (ngSubmit)="submit(formRef.value.query)"
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="20px"
  [formGroup]="searchForm"
>
  <div fxFlex="20">
    <!-- <pre>{{ formRef.value | json }}</pre> -->
  </div>

  <div fxFlex="100">
    <mat-form-field fxFlex="100%">
      <mat-label>Search</mat-label>
      <!-- <input type="text" matInput [formControl]="searchForm.get('query')" /> -->
      <input type="text" matInput formControlName="query" />

      <!-- <my-error-compent [field]="searchForm.get('query')"></my-error-compent> -->

      <!-- <ng-container *ngIf="inputModelRef as field"> -->
      <ng-container *ngIf="searchForm.get('query') as field">
        <mat-error *ngIf="field.hasError('required')">Required</mat-error>
        <mat-error *ngIf="field.getError('minlength') as error"
          >too short</mat-error
        >
      </ng-container>
    </mat-form-field>

    <!-- <ng-container formGroupName="advancedSearch">
      <input type="text" formControlName="type">
    </ng-container> -->
    

    <button mat-fab color="primary" type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</form>
