<ng-template #noDataTpl>
  <p>No playlist selected</p>
</ng-template>

<div *ngIf="playlist; else noDataTpl">
  <mat-list>
    <mat-list-item>
      <span matLine>Name:</span>
      <span data-testid="playlist_name">{{ playlist.name }}</span>
      <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item>
      <span matLine>Public:</span>
      <!-- <span [style.color]>{{ playlist.public ? 'Yes' : 'No' }}</span> -->
      <!-- <span [ngStyle]="{color:'red'}">{{ playlist.public ? 'Yes' : 'No' }}</span> -->
      <!-- <span [class.private]="playlist.public">{{ playlist.public ? 'Yes' : 'No' }}</span> -->
      <span
        [ngClass]="{
          public: playlist.public,
          private: playlist.public === false
        }"
        >{{ playlist.public ? 'Yes' : 'No' }}</span
      >
      <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item>
      <span matLine>Description:</span>
      <span>{{ playlist.description }}</span>
    </mat-list-item>
  </mat-list>

  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
    <button mat-raised-button color="primary" (click)="editClick()">Edit</button>
  </div>
</div>
